<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="InfrastructureFeed" value="https://pkgs.dev.azure.com/lsportsltd/Infrastructure/_packaging/InfrastructureFeed/nuget/v3/index.json" />
        <add key="STMFeed" value="https://pkgs.dev.azure.com/lsportsltd/STM/_packaging/STMFeed/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <InfrastructureFeed>
            <add key="Username" value="builder"/>
            <add key="ClearTextPassword" value="%TOKEN%"/>
        </InfrastructureFeed>
        <STMFeed>
            <add key="Username" value="builder"/>
            <add key="ClearTextPassword" value="%TOKEN%"/>
        </STMFeed>
    </packageSourceCredentials>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <bindingRedirects>
        <add key="skip" value="False" />
    </bindingRedirects>
    <packageManagement>
        <add key="format" value="0" />
        <add key="disabled" value="False" />
    </packageManagement>
</configuration>